{{ define "main" }}

<section class="hero">
    <div class="content">
        <h1>Le Raising Hops</h1>
        <p>Le nouveau bar lillois dédié à la <em>(re)</em>découverte de la bière, avec un large choix de bières artisanales et locales.</p>
        <a href="/carte" class="btn-primary">Découvrir la carte</a>
    </div>
    <div class="img">
        <img src="/hero.webp" alt="La façade du Raising Hops" width="512px" height="512px">
    </div>
</section>

<div class="section">
    <div class="img">
        <img src="/biere.webp" alt="Le comptoir du Raising Hops" width="512px" height="512px" loading="lazy">
    </div>
    <div class="content">
        <h2>Découvre la bière faite pour toi</h2>
        <p>Le bar vous propose 12 pressions (dont 3 éphémères) et une quarantaine de références en bouteilles et canettes.</p>
        <p>Bar à bières, nous proposons également des softs, cocktails, saucisson et tartinables.</p>
        <a href="/carte" class="btn-primary">Voir la carte</a>
    </div>
</div>

<div class="product-features section reverse">
    <div class="img">
        <img src="/atelier.webp" alt="La salle du Raising Hops" width="512px" height="512px" loading="lazy">
    </div>
    <div class="content">
        <h2>Un bar à bières au coeur de Lille</h2>
        <p>Situé au 24 rue Jeanne Maillotte,  nous sommes facilement accessible :</p>
        <ul>
            <li>Métro République (2min à pieds)</li>
            <li>Ligne de bus 14, 15, 18, L5 (1min à pieds)</li>
            <li>Place de stationnement place Jacquard</li>
        </ul>
        <a href="https://www.google.fr/maps/place/24+Rue+Jeanne+Maillotte,+59800+Lille/@50.6315809,3.0615031,17z/data=!3m1!4b1!4m6!3m5!1s0x47c2d58f0b1e98d7:0xa6f69a4ef2b162c2!8m2!3d50.6315809!4d3.0640834!16s%2Fg%2F11c28zch8w?entry=ttu" class="btn-primary">Voir sur Google Maps</a>
    </div>
</div>

<div class="opening-hours section" id="horaires">
    <div class="img">
        <img src="/lieu.webp" alt="Les horaires du Raising Hops" width="512px" height="512px" loading="lazy">
    </div>
    <div class="content">
        <h2>Nos horaires d’ouverture</h2>
        <p>Le Raising Hops est ouvert du mardi au samedi jusque 2h du matin, et fermé le dimanche et lundi.</p>
        <div class="table">
            <div class="row">
                <div class="bold">Mardi</div>
                <div>16h00 - 00h00</div>
            </div>
            <hr>
            <div class="row">
                <div class="bold">Mercredi</div>
                <div>16h00 - 00h00</div>
            </div>
            <hr>
            <div class="row">
                <div class="bold">Jeudi</div>
                <div>16h00 - 01h00</div>
            </div>
            <hr>
            <div class="row">
                <div class="bold">Vendredi</div>
                <div>16h00 - 01h00</div>
            </div>
            <hr>
            <div class="row">
                <div class="bold">Samedi</div>
                <div>15h00 - 02h00</div>
            </div>
        </div>
    </div>
</div>

<div class="contact section reverse" id="contact">
    <div class="img">
        <img src="/contact.webp" alt="La cave du Raising Hops" width="512px" height="512px" loading="lazy">
    </div>
    <div class="content">
        <h2>Nous contacter</h2>
        <p>Un anniversaire, un afterwork, pôt de thèse ou autre chose à fêter ?</p>
        <p>Privatisez notre cave pouvant accueillir jusqu’à 20 personnes !</p>
        <a href="mailto:hey@raisinghops.fr?subject=Demande de réservation" class="btn-primary">Réserver une table</a>
    </div>
</div>

{{ end }}